<p>
  twowaybinding works!
</p>

<input type="text" placeholder="Enter the Name.." [(ngModel)]="myname">
{{myname}} <br><br>

<input type="text" [(ngModel)]="myname2"><br>
<button (click)="OnShowMe()">Show Me</button>

<div [hidden]="ishidden">
  {{myname2}}
</div> <br><br>

<input type="text" [(ngModel)]="myname3" (change)="onChange()"><br>
<div [hidden]="ishidden1">
  {{myname3}}
</div> <br><br>
<hr>

<label for="myusername">Username: </label> &nbsp;
<input type="text" 
placeholder="Enter the Username..."
 [(ngModel)]="username" id="myusername">
<br><br>
<Button (click)="OnSubmit()">Submit</Button>
<hr>

<label for="myusername1">Username: </label> &nbsp;
<input type="text" 
placeholder="Enter the Username..."
  id="myusername1" #username1>
<br><br>
<Button (click)="OnSubmit1(username1)">Submit</Button>